.syne-normal{
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


  *{
    margin: 0px;
    padding: 0px;
  }

  
.Top_Navigation{
    background-color: #071431;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 260px 32px 260px;
    gap: 200px;

  }

.Top_Navigation_left{
    display: flex;
    gap: 48px;
   
}

  .Top_Call{
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .call_icon{
    width: 56px;
    height: 56px;
  }
  
  .title{
    color: #C1C4CC;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    width: 142px;
    height: 24px;
  }
  .number{
    color:  #FFFF;
    text-align: center;
    font-family: Syne;
    font-size: 20px;
    font-weight: 600;  
    width: 142px;
    height: 30px;                        
  }

.search_bar{
    background-color:#ffff ;
    border-radius: 999px;
    border: 1px solid  #B2B6BF;
    padding: 16px 32px;
    display: flex;
    gap: 10px; 
    justify-content: center;
    align-items: center;
}

.search_input{
    color: #6A7283;
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none; 
    width: 400px; 

}
.search_icon{
    flex-shrink: 0;
}

.Top_Navigation_right{
    display: flex;
    gap:24px;
    align-items: center;

}


.language{
    border: 1px solid #FFFF;
    border-radius: 999px;
    display: flex;
    gap: 12px;
    align-items: center;
    display: flex;
    padding: 8px 16px;

}
.en{
    color: #FFFF;
    font-family: Syne;
    font-size: 18px;
    font-weight: 500;

}

.cart-container {
    display: flex;
    align-items: center;
    position: relative;
    gap:10px
}
.cart-btn {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.cart-btn img {
    width: 24px;
    height: 24px;
}
.cart-badge {
    background-color: #FFC107;
    color: black;
    font-family: Syne;
    font-weight: 400;
    font-size: 16px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
}
.price {
    color:  #FFFF;
    font-family: Syne;
    font-size: 20px;
    font-weight: 600;
 
}


/*To_Navation_End*/




.Bottom{
  padding: 32px 260px 32px 260px;
  display: flex;
  gap:40px;

 
}
.logo_Top{
    display: flex;
    flex-direction:column;
}
.logo{
    display: flex;
    gap: 16px;
    
}
.text_title{
    color: var(--Neutral-N200, #6A7283);
    font-family: Syne;
    font-size: 12px;
    font-weight: 400;
   
}
.text-header{
    color: var(--Brand-Color-Neutral, #071431);
    font-family: Syne;
    font-size: 32px;
    font-weight: 600;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
ul{
    display: flex;
    gap: 22px;
    list-style: none;

}
ul li a{
    color: var(--Neutral-N200, #6A7283);
    font-family: Syne;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

}

.btn-container{
    border-radius: 30px;
    display: flex;
    align-items: center;
  

    
}

.btn{
    border-radius: 999px;
    background-color: #FEC100;
    color: #071431;
    font-family: Syne;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 24px;
    display: flex;
    gap: 8px;
    border:none;
  
}
.login_container{
    display: flex;
    align-items: center;
    padding: 12px 24px;
    justify-self: center;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid var(--Brand-Color-Neutral, #071431);
   
}
.login_btn{
    color: var(--Brand-Color-Neutral, #071431);
    font-family: Syne;
    font-size: 16px;
    font-weight: 500;
    border:none;
    background-color: #FFFF;
}
.nav_container_right{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
}


.hero{
    margin: 32px;
    border-radius: 32px;
    background: linear-gradient(90deg, #071431 0%, rgba(21, 61, 151, 0.00) 76.55%),url("../Images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    height: 671px;



}
.hero_title{
    color: #FFFF;
    font-family: Syne;
    font-size: 64px;
    font-weight: 700;
}
.hero_description{
    color: #FFFF;
    font-family: Syne;
    font-size: 24px;
    font-weight: 400;

}
.Hero_box{
    padding: 120px 803px 120px 188px;
    gap: 48px;
}
.hero_btn{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 48px 300px 0px 0px
}
.hero_btn_1{
    border-radius: 999px;
    background-color: #FEC100;
    color: var(--Brand-Color-Neutral, #071431);
    font-family: Syne;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
    display: flex;
    gap: 8px;


}

.hero_btn_2{
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(2px);
    color:  #FFFF;
    font-family: Syne;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 32px;
}


.header_down_text_h3{
    color: var(--Brand-Color-Neutral, #071431);
    text-align: center;
    font-family: Syne;
    font-size: 48px;
    font-weight: 600;
  
}
.header_down_text_h1{
    color: var(--Brand-Color-Primary-Color, #B45C3D);
    font-family: Syne;
    font-size: 56px;
    font-weight: 700;

}
.header_down_text_p{
    color: var(--Black-500, #6D6D6D);
    font-family: Syne;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0px 0px 0px;

}
.header_down{
    display: flex;
    padding: 120px 260px;
    flex-direction: column;
    align-items: center;
    gap: 72px;
   
}
.header-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:50px;


}
.header-container > div {
    border-right: 1px solid #EBECEF;
    font-size: 30px;
    text-align: center;
    text-align: left;
  }
#Header_3rd{
    border-right: none;
}



