.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

.Top_Navigation {
  background-color: #071431;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 200px 32px 200px;
  gap: 200px;
  height: 100px;
}

.Top_Navigation_left {
  display: flex;
  gap: 32px;
}

.Top_Call {
  display: flex;
  gap: 10px;
  align-items: center;
}
.call_icon {
  width: 48px;
  height: 48px;
}

.title {
  color: #c1c4cc;
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  width: 142px;
  height: 24px;
}
.number {
  color: #ffff;
  text-align: center;
  font-family: Syne;
  font-size: 20px;
  font-weight: 600;
  width: 142px;
  height: 30px;
}

.search_bar {
  background-color: #ffff;
  border-radius: 999px;
  border: 1px solid #b2b6bf;
  padding: 8px 24px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 45px;
}

.search_input {
  color: #6a7283;
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  width: 300px;
}
.search_icon {
  flex-shrink: 0;
}

.Top_Navigation_right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.language {
  border: 1px solid #ffff;
  border-radius: 999px;
  display: flex;
  gap: 16px;
  align-items: center;
  display: flex;
  padding: 8px 16px;
}
.en {
  color: #ffff;
  font-family: Syne;
  font-size: 18px;
  font-weight: 400;
}

.cart-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.cart-btn {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cart-btn img {
  width: 24px;
  height: 24px;
}
.cart-badge {
  background-color: #ffc107;
  color: black;
  font-family: Syne;
  font-weight: 400;
  font-size: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
.price {
  color: #ffff;
  font-family: Syne;
  font-size: 15px;
  font-weight: 600;
}

/*To_Navation_End*/

.Bottom {
  padding: 12px 200px 32px 200px;
  display: flex;
  gap: 40px;
  cursor: pointer;
}
.Home_active:focus{
  background-color: #000000;
}
.logo_Top {
  display: flex;
  flex-direction: column;
}
.Logo_img{
  height: 55px;
  width: 55px;
}
.logo {
  display: flex;
  gap: 10px;
}
.text_title {
  color: var(--Neutral-N200, #6a7283);
  font-family: Syne;
  font-size: 12px;
  font-weight: 350px;
  
}
.text-header {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 30px;
  font-weight: 600px;
  position: relative;
  top: 15px
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.nav_container_left a {

  position: relative;
  transition: 0.3s;
}
.nav_container_left a:focus {
  outline: none;
}

.nav_container_left a:focus::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: black;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}
ul li a {
  color: var(--Neutral-N200, black);
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.btn_Seller {
  border-radius: 999px;
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  border: none;
  padding: 16px 24px;
  height: 50px;
  background-color: #fec100; 
  cursor: pointer;
}
.login_icon{
  width: 18px;
  height: 18px;
}
.btn_login {
  border-radius: 999px;
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  padding: 16px 22px;
  height: 50px;
  justify-content: center;
  cursor: pointer;
  outline: 1px solid #071431;
}

.btn_login:hover {
  background-color: #fec100; 
  outline: none;

}

.btn_Seller img {
  transition: transform 0.8s;
}

.btn_Seller:hover img {

  transform: translate(5px);
  cursor: pointer;

}


.btn_Seller:hover {
   background-color: #fec100; 
  }

.btn_book {
  border-radius: 999px;
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  border: none;
  padding: 16px 24px;
  background-color: #fec100;
  cursor: pointer;
}

.nav_container_right {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
 .hero {
    margin: 32px;
    border-radius: 32px;
    background-image: linear-gradient(90deg, #071431 0%, rgba(21, 61, 151, 0.00) 76.55%),url("../Images/image.jpg");
  
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    height: 671px;
    
    
  }

.hero_title {
  color: white;
  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
}
.hero_description {
  color:white;
  font-family: Syne;
  font-size: 24px;
  font-weight: 400;
}
.Hero_box {
  padding: 120px 803px 120px 188px;
  gap: 48px;
}
.hero_btn {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 48px 300px 0px 0px;
}
.hero_btn_1 {
  border-radius: 999px;
  background-color: #fec100;
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  display: flex;
  gap: 8px;
  cursor: pointer;
  transition: transform 1s;
}

.hero_btn_1 img {
  transition: transform 1s;
}

.hero_btn_1:hover img {
  transform: translate(10px);
}

.hero_btn_2 {
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  color: white;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  cursor: pointer;
}

.header_down_text_h3 {
  color: var(--Brand-Color-Neutral, #071431);
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-weight: 600;
}
.header_down_text_h1 {
  color: var(--Brand-Color-Primary-Color, #b45c3d);
  font-family: Syne;
  font-size: 56px;
  font-weight: 700;
}
.hober_bg_3{
  width: 156px;
  height: 156px;
  position: absolute;
  top: 550Px;
  left: 50PX;
  
  
}
.hober_bg_4{
  width: 156px;
  height: 156px;
  position: absolute;
  top: 20px;
  right: 30px;

}
.hober_bg_1{
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 1;

}
.hober_bg_2{
  position: absolute;
  top: 80px;
  left: 0px;
  z-index: 1;
}

.header_down_text_p {
  color: var(--Black-500, #6d6d6d);
  font-family: Syne;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0px 0px 0px;
}
.header_down {
  display: flex;
  padding: 120px 260px;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.header-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.header-container > div {
  border-right: 1px solid #ebecef;
  font-size: 30px;
  text-align: center;
  text-align: left;
}
#Header_3rd {
  border-right: none;
}

.hober_section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 120px 260px;
  background-color: white;
  justify-content: center;
  position: relative;
  height: 1200px;
  background-color: #F3F3FF;
  height: 1432px;
}
.hober_text {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 48px;
  font-weight: 600;
}

.hober_Start {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 16px;
  z-index: 2;
}

.hober_Start > div {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
}

.card:hover {
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}

.card:hover .btn_hober_2 {
  background-color: #fec100;
  border: none;
}

.btn_hober_2 img {
  transition: transform 0.3s;
}

.btn_hober_2:hover img {
  transform: translate(8px);
}

.first_hober {
  border-radius: 8px 8px 0px 0px;
  padding: 5px;
  background-image: url(/Images/pic_55.png);
  background-repeat: no-repeat;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.sec_hober {
  border-radius: 8px 8px 0px 0px;
  padding: 5px;
  background-image: url(/Images/pic2.png);
  background-repeat: no-repeat;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.third_hober {
  border-radius: 8px 8px 0px 0px;
  padding: 5px;
  background-image: url(/Images/pic3.png);
  background-repeat: no-repeat;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.save_two_image_upaded {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--Neutral-N20, #ffff);
  
}

.image_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px 232px 3px;
}
.image_lower {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.first_step {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.discount-btn {
  border-radius: 2px;
  background: var(--Brand-Color-Primary-Color, #b45c3d);
  color: var(--Neutral-N0, #ffff);
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 400px;
  border: none;
  padding: 10px 12px;
}
.img_name {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
.img_name_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.persion_name {
  color: #6a7283;
  font-family: Syne;
  font-size: 14px;
  font-weight: 500;
}
.text_number {
  color: var(--Neutral-N200, #6a7283);
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.text_rating {
  color: var(--Brand-Color-Secondary-Color-02, #1d2635);
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.ja_solor {
  color: var(--Secondary-950, #192a48);
  font-family: Syne;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}
.tax {
  color: var(--Neutral-N200, #6a7283);
  font-family: Syne;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.tax_number {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.Tax_item {
  text-align: left;
}
.tax_btn {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.btn_1 {
  border-radius: 999px;
  background-color: #fec100;
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 24px;
  display: flex;
  gap: 8px;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn_1 img {
  transition: all 0.3s ease-in-out;
}
.btn_1:hover img {
  transform: translate(10px);
}
.btn_hober_1 {
  border-radius: 999px;
  background-color: #fec100;
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  border: none;
  align-items: center;
  cursor: pointer;
}

.btn_hober_2 {
  border-radius: 999px;
  background-color: #ffff;
  color: #071431;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 22px;
  display: flex;
  gap: 8px;
  border: none;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid black;
}

#btn_1_move {
  display: flex;
  text-align: center;
  justify-content: center;
}

.service_section {
  background-color: #ffff;
  background-image: url("../Images/about-1-1\ 2.png"),
    url("../Images/about-1-1\ 2.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 125x 125px;
  padding: 120px 260px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
}

.service_card_container_container_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  gap: 24px;
}

.service_card_container_container_grid > div {
  border-radius: 16px;
  background-image: url(../Images/Vector\ 1.png);
  background-repeat: no-repeat;
  background-position: top left;
  text-align: center;
}

.service_section_title {
  color: var(--Brand-Color-Neutral, #071431);
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-weight: 600;
}

.service_card_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #f8efec;
  transition: all 0.3s ease-in-out;
  height: 294px;
}
.service_card_1:hover {
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}
.service_card_2:hover {
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: rgba(25, 25, 25, 0.1) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}
.service_card_3:hover {
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}
.service_card_4:hover {
  transform: translateY(-20px);
  cursor: pointer;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
}
.service_card_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #fff9e6;
  transition: all 0.3s ease-in-out;
}
.service_card_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #ebf7ef;
  transition: all 0.3s ease-in-out;
}

.service_card_4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background-color: #faedff;
  transition: all 0.3s ease-in-out;
}

.service_card_img {
  width: 48px;
  height: 48px;
}

.service_card_title {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 24px;
  font-weight: 600;
}

.service_card_text {
  color: var(--Neutral-N200, #6a7283);
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
}

.service_card_text_up {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.resolaring_work {
  display: flex;
  gap: 48px;
  padding: 120px 160px;
  background-color: #f3f3ff;
  position: relative;
}

.work_title {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 24px;
  font-weight: 600;
}
.work_text {
  color: var(--Neutral-N200, #6a7283);
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
}
.work_line {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work_card_container {
  background-color: #ffff;
  padding: 24px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: all 0.5s ease-in-out; 
}
.work_card {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  z-index: 20;
}
.work_card_container:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.04) 0 0 2px 0, rgba(14, 14, 14, 0.1) 0 3px 4px 0;
}
.Work_btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  background-color: #fec100;
  border-radius: 999px;
  padding: 16px 32px;
  border: none;
}
.Work_btn > img {
  transition: all 0.5s ease-in-out;
}
.Work_btn:hover > img {
  transform: translateX(10px);
}
.resolaring_work_title {
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 48px;
  font-weight: 600;
  
}

.resolaring_work_img_container {
  width: 600px;
  height: 664px;
  overflow: hidden;
  border-radius: 16px;
}
.resolaring_work_img {
  width: 455px;
  height: 664px;
  border-radius: 16px;
  transition: all 0.5s ease-in-out;
}
.resolaring_work_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.resolaring_work_container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.resolaring_bd_image {
  position: absolute;
  top: 0;
  right: 0;
 
}

.Expert_Member{
  display: flex;
  flex-direction: column;
  gap: 48px;
  background-color: #ffff;
  padding: 120px 260px;
  position: relative;
  
}
.plus_1{
  width: 156px;
  height: 156px;
  position: absolute;
  top: 50px;
  left: 10px;
}
.plus_2{
  width: 156px;
  height: 156px;
  position: absolute;
  bottom: 50px;
  right: 10px;
}

.Expert_Member_Card{
  display: flex;
  gap: 48px;
  
}
.Expert_Member_title{
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 48px;
  font-weight: 600;

}

.Expert_Member_Card_Containter{
  border-radius: 16px;
  background-color: #F6F6FF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  cursor: pointer; 
}
.Expert_Member_Card_Containter_img{
  border-radius: 8px;
  overflow: hidden;
}

.Expert_Member_Card_Profile_Img{
  height: 256px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}


.Expert_Member_Card_Containter_text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;

}
.Expert_Member_Card_name{
  color:  #071431;
  font-family: Syne;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.Expert_Member_Card_title{
  color:  #6A7283;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400; 
}

.img_share_container{ 
  position: relative;
}


.share_icon_1{
  background-color: #B45C3D;
  padding: 8px 8.67px;
  border-radius: 50%;
  cursor: pointer; 
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 4;
  transition: all 0.2s ease-in-out;

}
.share_icon_2{
  background-color: #B45C3D;
  padding: 8px 8.67px;
  border-radius: 50%;
  cursor: pointer; 
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 3;
  transition: all 0.2s ease-in-out;

}
.share_icon_3{
  background-color: #B45C3D;
  padding: 8px 8.67px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  transition: all 0.2s ease-in-out;

}
.share_icon_4{
  background-color: #B45C3D;
  padding: 8px 8.67px;
  border-radius: 50%;
  cursor: pointer; 
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
  transition: all 0.2s ease-in-out;

}


.Expert_Member_Card_Containter:hover .share_icon_1 {
  transform: translateY(0px);
}

.Expert_Member_Card_Containter:hover .share_icon_2 {
  transform: translateY(-40px);
}

.Expert_Member_Card_Containter:hover .share_icon_3 {
  transform: translateY(-80px);
}

.Expert_Member_Card_Containter:hover .share_icon_4 {
  transform: translateY(-120px);
}
.Expert_Member_Card_Containter:hover .Expert_Member_Card_Profile_Img{
  transform: scale(1.1);
  cursor: pointer;
}
.Expert_Member_Card_Containter:hover{
  outline: 1px solid #FEC100; 
}

.img_share_container:hover.Expert_Member_Card_Profile_Img{
  transform: scale(1.1);
  cursor: pointer;
}


.Benefits_card_title{
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;

}

.Benefits_card_description{
  color: var(--Neutral-N200, #6A7283);

font-family: Syne;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.Benefits_card_text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.Benefits_title{
  color: var(--Brand-Color-Neutral, #071431);
  text-align: center;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;

}
.Benefits_card_1:hover{
  transform: translateY(-10px);
}
.Benefits_card_2:hover{
  transform: translateY(-10px);
}
.Benefits_card_3:hover{
  transform: translateY(-10px);
}

.Benefits_card_1{
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
  background-color:  #FAEDFF;
  padding: 32px;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  height: 230px;

}
.Benefits_card_2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 16px;
  background-color:  #EBF7EF;
  padding: 32px;
  transition: all 0.3s ease-in-out;
  position: relative;
  height: 200px;
  height: 200px;
  overflow: hidden;
  height: 230px;
}
.Benefits_card_3{
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 16px;
  background-color: #FFF9E6;
  padding: 32px;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  height: 230px;

}
.card_bg{
  position: absolute;
  top: 0;
  right: 0;
}
 

.Benefits_card_container{
  display: flex;
  gap: 24px;
  justify-content: center;
}


.Benefits_of_Joining{
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 120px 360px;
  background-color: #F3F3FF;
  position: relative;
  height: 580px;
}
.Benefits_card_bg{
  position: absolute;
  top: 0;
  bottom: 0;
 
}

.Benefits_card_bg_2{
  position: absolute;
  bottom: 50px;
  left: 30px;
  width: 156px;
  height: 156px;
}
.Benefits_card_bg_3{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 156px;
  height: 156px;
}
.bg_icon{
  width: 38px;
  height: 38px;
}

.What_Our_Users_Say{
  padding: 120px 260px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;

}
.user_bg{
  position: absolute;
  top: 0;
  right: 0;
  width: 1920px;
  height: 765px;
  z-index: -1;
  opacity: 0.6;
 
}

.What_Our_Users_Say_title{
  color: var(--Brand-Color-Neutral, #071431);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Syne;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 57.6px */

}
.user_top_bar{
  display: flex;
  justify-content: space-between;
}
.icon_1{

  border: 2px solid #ffff;
  border-radius: 50%;
  padding: 12px;
  transform: rotate(180deg);
}


.icon_img{
  width: 28px;
  height: 28px;

}
.icon_2{
 
  background-color:  #FEC100;
  border-radius: 50%;
  padding: 12px;
  transform: rotate(180deg);
  
}
.icon_array{
  display: flex;
  gap: 20px;
}
.user_card_title{
  color: var(--Neutral-N200, #6A7283);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Syne;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */

}
.user_card_name_1{
  color: var(--Brand-Color-Primary-Color, #B45C3D);
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
.user_card_text{
  color: #333;
  font-feature-settings: 'liga' off, 'clig' off;

  /* M Text/M Text - Reguler */
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.user_card_left_part{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 16px;
  text-align: justify;
  
}
.User_card_img_1{
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

.User_card{
  display: flex;
  flex-direction: row-reverse;
  background-color: User_card;
  border-radius: 12.818px;
  border: 5px solid #FFF;
  background: #FFFBF5;
  padding: 32px;
  height: 400px;
  width: 700px;
  gap:16px;
  z-index: 5;
}

.user_card_container{
  display: flex;
  gap: 24px;

}

.ready_buy{
  position: relative;
}

.image_color{
  position:absolute;
  top:0px;
  opacity: 60%;
  height: 550px;
  width: 1900px;
  background: #B45C3D;

}

.Ready_bg_image{
  height: 550px;
  width: 1900px;
  position: relative;
}
.ready_btn{
  display: flex;
  gap: 16px;
}
.ready_btn1{
  background-color: #FEC100;
  border-radius: 999px;
  color: var(--Brand-Color-Neutral, #071431);
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap:8px;
  padding: 16px 32px;
  cursor: pointer;
 
}
.ready_btn_img{
  transition: all 0.5s ease-in-out;

}
.ready_btn1:hover img{
  transform: translateX(10px);
}
.ready_btn2{
  border: 1px solid white;
  border-radius: 999px;
  font-family: Syne;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  color: white;
  padding: 16px 32px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(2px);
  cursor: pointer;

}
.ready_text{
  color: var(--Neutral-N0, #FFF);
  text-align: center;
  font-family: Syne;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;


}
.ready_text-des{

  color: var(--Neutral-N0, #FFF);
  text-align: center;
  font-family: Syne;
  font-size: 24px;
  font-weight: 400;

}
.ready_text_container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;

}
.btn_and_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:48px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}


/* .quick_link_2{
  display: flex;
  flex-direction: column;
  
}
.f_text{
  color: var(--Neutral-N50, #C1C4CC);
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer_class{
  background-color: #071431;
  position: relative;
  height: 714px;
  padding: 100px 200px 60px 200px;
 
}


.fotter_upper_class{
  display: flex;
  justify-content: space-between;  
}
.bg_1{
  position: absolute;
  top:0px;
  left: 0px; 
}

.form_4{
  display: grid;
  grid-template-columns: auto auto;
}



.footer_logo_upper{
  display: flex;
  align-items: center;
  gap: 16px;  
}
.footer_text{
  color: var(--Neutral-N0, #FFF);
  font-family: Syne;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.footer_des{
  color: var(--Neutral-N50, #C1C4CC);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Syne;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;


}
.footer_h5{
  color: var(--Brand-Color-Primary-Color, #FFF);

  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.footer_socal_icon{
  display: flex;
  gap:16px;
  width: 24px;
  height: 24px;
}

.lan_socal{
  display: flex;
  align-items: center;
  gap: 40px;

}

.support_footer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer_last_img{
  width: 32px;
height: 32px;
}
.last_footer{
  display: flex;
  align-items: center;
  justify-content: center;
} */